<template>
  <div>
    <button @click="onSubmit">CLICK ME</button>
  </div>
</template>
<script setup>
const { login } = useStrapiAuth()
const router = useRouter()
const onSubmit = async () => {
  try {
    await login({ identifier: 'demo_adb@engie.com', password: 'savelys01' })
    router.push('/authenticated-page')
  } catch (e) {
    console.log(e)
  }
}</script>