[14:23] DOS SANTOS Christophe (ENGIE Home Services)
<template>
  <div>
    <form @submit.prevent="submitForm">
      <v-text-field v-model="formData.email" label="E-mail" required>
      </v-text-field>
      <span v-for="error in v$.email.$errors" :key="error.$uid">{{
        error.$message
      }}</span>
      <v-btn type="submit" color="success" class="mr-4"> Envoyer </v-btn>
    </form>
    ​​​​​​
  </div>
</template>
<script setup lang="ts">
import useVuelidate from "@vuelidate/core";
import { reactive } from "vue";
import { required, email } from "@vuelidate/validators";

const formData = reactive({
  email: "",
});

const rules = {
  email: { required, email },
};

const v$ = useVuelidate(rules, formData);
const { create } = useStrapi4();
const submitForm = async () => {
  try {
    const isValid = await v$.value.$validate();

    if (isValid) {
      const { success } = (await create("email/sendstuff", {
        adresse: formData.email,
      })) as any;
      console.log(success);
      if (!success) {
        throw "une erreur est survenue";
      }
      alert("success, form submitted!");
    } else {
      alert("error, form not valid");
    }
  } catch (error) {
    console.log(error);
    alert("une erreur est survenue");
  }
};
</script>
